{% extends "ouvidoria/base.html" %}

{% block content %}

<center>
    <nav class="navbar navbar-dark bg-dark m-1 ml-5 px-md-4 text-white container mb-5" id="navbar" style="border-radius: 20px 0px;">
            <h4>Seja Bem Vindo(a)</h4>
    </nav>
    <form method="POST">
        <div class="form-group">
            <label for="formGroupExampleInput">Titulo da mensagem (Opcional):</label>
            <input type="text" class="form-control mb-5" id="formGroupExampleInput" placeholder="Titulo" style="width: 30%;border: 2px solid; border-radius: 10px;">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1 p-1">Escreva aqui sua mensagem :</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="width: 30%;border: 2px solid; border-radius: 10px;" placeholder="Escreva Aqui . . ."></textarea>
        </div>
        <button type="submit" class="btn btn-secondary"   >Enviar</button>
    </form>

</center>

{% endblock content %}